<ion-content>
  <ion-item>
    <ion-input placeholder="Nueva categoría" [(ngModel)]="newCategory"></ion-input>
    <ion-button (click)="addCategory()" shape="round ">Agregar</ion-button>
  </ion-item>

  <ion-chip *ngFor="let category of categories">
    <ion-label *ngIf="editingCategoryId !== category.id">{{ category.name }}</ion-label>

    <ion-input
      *ngIf="editingCategoryId === category.id"
      [(ngModel)]="category.name"
      (blur)="saveCategory(category)"
      placeholder="Editar nombre de categoría">
    </ion-input>

    <ion-icon color="danger" name="close-circle" (click)="deleteCategory(category)"></ion-icon>
    <ion-icon color="primary" name="create" *ngIf="editingCategoryId !== category.id"
              (click)="editCategory(category)"></ion-icon>

    <ion-icon *ngIf="editingCategoryId === category.id" color="success" name="save"
              (click)="saveCategory(category)"></ion-icon>
  </ion-chip>
</ion-content>
