
.label-name {
  font-size: 17px;
  color: #000000;
  font-family: sans-serif;
  margin-left: 12px;
}

.title-toolbar {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  color: #000000;

}

.custom-select {
  border-radius: 12px;
  padding-start: 10px;
  padding-end: 10px;
  hover-background: transparent;
  interactive: false;
}
